html, body {
    width: 100%;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

* {
    border-radius: 0 !important;
}

body {
    background-color: #EEE;
    /*background-image: url("/img/gplay.png");*/
    background-image: url("/img/transparent-square-tiles.png");
    background-attachment: fixed;

    color: #555;    
}

.remove-subject-btn {
    width: 100%;
}

.form-control {
    box-shadow: 1px 1px 10px 0 #BBB;
}

.btn, .form-control {
    border: none !important;
}

.btn-primary {
    color: #fff !important;
}

.subject-form {
    margin: auto;
    width: 100%;
}

.subject-form select {
    width: 100% !important;
}

.btn-subject {
    box-shadow: 1px 1px 10px 0 #BBB;
    width: 100%;
}

@media (min-width: 768px) {
    .subject-form select {
        width: 70% !important;
    }

    .btn-subject {
        width: 29.5%;
    }
}

table td {
    border-color: #EEE !important; 
}

.app-container {
    display: none;
}

.left-side, .right-side {
    min-width: 10%;
}

.center-side {
    width: 100%;
}




/* Index page */

.index-page {
    width: 90%;
    text-align: center;
    margin: auto;
}

.index-page * {
    margin-top: 50px;
}

.index-page h1 {
    font-size: 6em;
    font-weight: 300;
}

.index-page h2 {
    font-weight: 100;
}

.index-page h3 {
    color: #999;
    width: 80%;
    margin: 50px auto 50px auto;
    font-weight: 100;
}

.index-page button {
    font-size: 1.5em;
    font-weight: 300;
    padding: 20px;
    height: auto;
    width: 90%;
    box-shadow: 1px 1px 10px 0 #BBB;
}

@media (min-width: 768px) {
    .index-page {
        width: 80%;
    } 

    .index-page button {
        width: 50%;
    }
}


.start-message {
    margin: 10% auto;
    text-align: center;
    color: #999;
}

.start-message h3 {
    font-weight: 300;
}

.btn-primary {
    background-color: #384368;
    border-color: #384368;
    box-shadow: 1px 1px 10px 0 #BBB;
    color: #ded4ff;
}

.btn-primary:hover, .btn-primary:active, .btn-primary:visited, .btn-primary:focus {
    background-color: #4d4f6b !important;
}


/* Navbar */

.navbar-inverse {
    background-color: #384368;
    border: none;
    border-radius: 0;
    box-shadow: 1px 1px 10px 0 #BBB;
}

.navbar a {
    color: white !important;
}

.navbar-brand {
    opacity: 0.9;
}

.navbar-brand:hover {
    opacity: 1.0;
}



/* Messages */

.message {
    position: fixed;
    top: 10px;
    left: 0;
    right: 0;
    width: 50%;
    margin: auto;

    padding: 5px;
    z-index: 9999999;
    display: none;
    color: #fff;
    border-radius: 100px !important;
    text-align: center;
}

.alert-success {
    background-color: #5cb85c;
    border-color: #5cb85c;
}

.alert-info {
    background-color: #5bc0de;
    border-color: #5bc0de;
}

.alert-warning {
    background-color: #f0ad4e;
    border-color: #f0ad4e;
}

.alert-danger {
    background-color: #d9534f;
    border-color: #d9534f;
}



/* Info Container */

.info-container {
    margin: 15px auto;
}

.plan {
    background-color: #fff;
    box-shadow: 1px 1px 10px 0 #BBB;
    overflow: hidden;
    display: none;
}

.schedule, .groups {
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.schedule table, .groups table, .selected-subjects table {
    margin: 0;
    padding: 0;
}

.schedule {
    width: 100%;
    height: 100%;
    overflow-x: auto;
    font-size: x-small;
}

@media (min-width: 768px) {
    .schedule {
        font-size: 1em;
    }
}

.schedule table td {
    border: #BBB thin solid;
    text-align: center;
    width: 18%;
}

.schedule table td:first-child {
    border: none !important;
    background-color: #384368; 
    color: #fff;
    width: 10%;
    min-width: 60px;
}

.schedule table tr:first-child {
    background-color: #384368; 
    color: #fff;
}

.schedule table tr:first-child td {
    border: none !important;
    padding: 12px;
}

.groups table td {
    border: #BBB thin solid;
    vertical-align: middle !important;
}

.groups table tr:first-child {
    background-color: #6979B1;
    color: #fff;
}

.groups table tr:first-child td {
    border: none !important;
}


.td-subject-name {
    display: block;
}

.td-subject-classroom {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 50%;
    height: 50%;
    display: none;
}

.td-subject {
    position: relative;
    vertical-align: middle !important;
}

.td-subject:hover, .td-subject:active {
    background-color: #6979B1;
    color: #fff;
}

.td-subject:hover .td-subject-name, .td-subject:active .td-subject-name {
    visibility: hidden;
}

.td-subject:hover .td-subject-classroom, .td-subject:active .td-subject-classroom {
    display: block;
}



/* Selected subjects table */

.selected-subjects {
    background-color: #fff;
    box-shadow: 1px 1px 10px 0 #BBB;
    overflow: hidden;
    margin: 20px auto;
    display: none;
}

.selected-subjects table tr:first-child {
    background-color: #384368;
    color: #fff;
}

.selected-subjects table tr:first-child td {
    border-color: #384368 !important;
}

.selected-subjects table td {
    vertical-align: middle !important;
}

/* Tabs */

.schedule-tab, .groups-tab {
    cursor: pointer;
    float:left;
    height: 40px;
    width: 50%;
    text-align: center;
    line-height: 40px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.schedule-tab {
    background-color: #384368;
    color: #fff;
    overflow: hidden;
}

.groups-tab {
    background-color: #6979B1;
    color: #fff;
    overflow: hidden;
}

.clear-left {
    clear: left;
}


/* Slide controls */

.slide-control {
    box-shadow: 1px 1px 10px 0 #BBB;
    position: fixed;
    top: 50%;
    display: none;
}

.slide-control .btn {
    height: 100px;
    padding: 0 15px;
}

.left-control {
    left: 1%;
}

.right-control {
    right: 1%;
}

.show {
    display: block;
}

.hide {
    display: none;
}


.clear-float {
    clear: both;
}

.slide-controls {
    margin: 15px auto 0 auto;
}

.slide-control-mobile {
    display: none;
    width: 45%;
}

.slide-controls > .left-control {
    float: left;
}

.slide-controls > .right-control {
    float: right;
}

.slide-control-mobile button {
    width: 100%;
}

/* Loader */
.loader {
    background-image: url("/img/ajax-loader.gif");
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.8;
    position: fixed;
    width: 100%;
    height: 80%;
    display: none;
}